<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCW || About</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-style-mode"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>


<body class="template-color-1">

  <!-- start header area -->
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <!--Require header-->
  <%- include('sections/header.ejs') -%>
  <!-- ENd Header Area -->
  <!-- Start timeline area -->
  <section class="about">
    <div class="artSection" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
      <h1>ART</h1>
      <p>OnChain Whales is an NFToken project, designed to bring customisation and creativity to the NFT space.<br><br>Decentralisation is all about returning the decisions to the people, and OnChain Whales has now embodied this by putting the creativity back in the hands of the community!<br><br>These community-made art pieces are then accompanied with a new form of utility within the XRPL!</p>
      <div class="cardContainer">
        <div class="Card">
          <img src="assets/images/artcards/1.png" alt="">
          <h4>Card #1</h4>
          <p>The Tail</p>
        </div>
        <div class="Card">
          <img src="assets/images/artcards/2.png" alt="">
          <h4>Card #2</h4>
          <p>The Head</p>
        </div>
        <div class="Card">
          <img src="assets/images/artcards/3.png" alt="">
          <h4>Card #3</h4>
          <p>The Fin</p>
        </div>
        <div class="Card">
          <img src="assets/images/artcards/4.png" alt="">
          <h4>Card #1</h4>
          <p>The Chin</p>
        </div>
      </div>
    </div>
    <div class="creators">
      <h1>THE TEAM</h1>
      <div class="creatorsContainer">
        <div class="bio">
          <img src="assets/images/profile/josh-01.jpg" alt="">
          <div class="custom-shape-divider-bottom-1649551808">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
              <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
              <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
          </div>
          <div class="bioOcean">
            <h2>Josh || CTO</h2>
            <p>Hey I&#39;m Josh&#33; Currently 4 years into my training to become a doctor&#44; but have found a passion for coding and problem solving&#44; particularly within the XRPL&#33; I enjoy a bit of camping and and bush work&#44; but have been loving building OnChain Whales with Liam and Jordy&#46; I've got plenty more ideas to develop for you all&#33; So I hope to see you around&#33;</p>
          </div>
        </div>
        <div class="bio">
          <img src="assets/images/profile/jordy-01.jpg" alt="">
          <div class="custom-shape-divider-bottom-1649551808">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
              <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
              <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
          </div>
          <div class="bioOcean">
            <h2>Jordy || PR</h2>
            <p>Hi I&#39;m Jordy&#44; 23&#44; I have a love for technology and videogames and a knack for customer service&#44; which is how I ended up here&#46; A logical and straight forward vision is key in a project to provide exceptional support&#46; Catch me interacting with the community in Discord&#44; Twitter and Instagram&#46;</p>
          </div>
        </div>
        <div class="bio">
          <img src="assets/images/profile/liam-01.jpg" alt="">
          <div class="custom-shape-divider-bottom-1649551808">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
              <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
              <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
          </div>
          <div class="bioOcean">
            <h2>Liam || CEO</h2>
            <p>Hi I&#39;m Liam&#44; over here at OCW I create the art and develop front end structures for our community&#46; I founded this company with Josh and Jordy&#44; two very bright guys with a drive and a passion for XRP&#46; We look forward to maintaining our connection to the community and constantly bringing you exciting news and fun features&#46;</p>
          </div>
        </div>
      </div>
    </div>
    <div class="roadmap">
      <h1>ROADMAP</h1>
      <div class="timeline">
        <div class="timelineContainer left green">
          <div class="timelineContent">
            <h2>Q4 2021</h2>
            <ul>
              <li>Build Community</li>
              <li>Begin Airdrops</li>
              <li>XRPL Development</li>
            </ul>
          </div>
        </div>
        <div class="timelineContainer right green">
          <div class="timelineContent">
            <h2>Q1 2022</h2>
            <ul>
              <li>Partnerships</li>
              <li>Marketing</li>
              <li>Funding</li>
            </ul>
          </div>
        </div>
        <div class="timelineContainer left">
          <div class="timelineContent">
            <h2>Q2 2022</h2>
            <ul>
              <li>NFT marketplace Beta</li>
              <li>XLS-20d Minting</li>
              <li>Merchandise</li>
            </ul>
          </div>
        </div>
        <div class="timelineContainer right">
          <div class="timelineContent">
            <h2>Q3 2022</h2>
            <ul>
              <li>Future exploration in opensource functions for XRPL projects.</li>
              <li>Mint NFToken on OCM open for public use.</li>
            </ul>
          </div>
        </div>
        <div class="timelineContainer left">
          <div class="timelineContent">
            <h2>Q4 2022</h2>
            <ul>
              <li>Transition into metaverals projects.</li>
              <li>Public NFT marketplace development.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="trustlineSection">
        <div class="trustlineWrap">
          <h2>$OCW Trustline</h2>
          <div class="box">
            <div class="boxContent">
              <span>Issuing Address: rK9DrarGKnVEo2nYp5MfVRXRYf5yRX3mwD</span>
              <span>Currency Code: OCW</span>
              <span>Limit: 36000</span>
              <a target="_blank" href="https://xrpl.services/?issuer=rK9DrarGKnVEo2nYp5MfVRXRYf5yRX3mwD&currency=OCW&limit=36000">Set Trustline</a>
            </div>
          </div>
        </div>
      </div>
      <div class="whitepaperSection">
        <div>

        </div>
      </div>
  </section>
  <!-- end timeline area -->
  <!-- Modal -->
  <div class="rn-popup-modal share-modal-wrapper modal fade" id="shareModal" tabindex="-1" aria-hidden="true">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content share-wrapper">
        <div class="modal-header share-area">
          <h5 class="modal-title">Share this NFT</h5>
        </div>
        <div class="modal-body">
          <ul class="social-share-default">
            <li><a href="#"><span class="icon"><i data-feather="facebook"></i></span><span class="text">facebook</span></a></li>
            <li><a href="#"><span class="icon"><i data-feather="twitter"></i></span><span class="text">twitter</span></a></li>
            <li><a href="#"><span class="icon"><i data-feather="linkedin"></i></span><span class="text">linkedin</span></a></li>
            <li><a href="#"><span class="icon"><i data-feather="instagram"></i></span><span class="text">instagram</span></a></li>
            <li><a href="#"><span class="icon"><i data-feather="youtube"></i></span><span class="text">youtube</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer require -->
  <%- include('sections/footer.ejs') -%>
  <!-- Start Top To Bottom Area  -->
  <div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- End Top To Bottom Area  -->
  <!-- JS ============================================ -->
  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
  <script src="assets/js/vendor/jquery-ui.js"></script>
  <script src="assets/js/vendor/modernizer.min.js"></script>
  <script src="assets/js/vendor/feather.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/sal.min.js"></script>
  <script src="assets/js/vendor/waypoint.js"></script>
  <script src="assets/js/vendor/wow.js"></script>
  <script src="assets/js/vendor/particles.js"></script>
  <script src="assets/js/vendor/jquery.style.swicher.js"></script>
  <script src="assets/js/vendor/js.cookie.js"></script>
  <script src="assets/js/vendor/count-down.js"></script>
  <script src="assets/js/vendor/counter-up.js"></script>
  <script src="assets/js/vendor/isotop.js"></script>
  <script src="assets/js/vendor/imageloaded.js"></script>
  <script src="assets/js/vendor/backtoTop.js"></script>
  <script src="assets/js/vendor/scrolltrigger.js"></script>
  <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
  <script src="assets/js/vendor/savePopup.js"></script>
  <!-- main JS -->
  <script src="assets/js/main.js"></script>


  <script>


  </script>
</body>

</html>