<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || My Collections</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="template-color-1">
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <%- include('sections/header.ejs') -%>

  <!-- start Create Collection -->
  <div class="creat-collection-area pt--80">
    <div class="container">
        <div class="row g-5 ">
            <div class="col-lg-3 offset-1 ml_md--0 ml_sm--0">
                <div class="collection-single-wized banner">
                    <label class="title required">Logo image</label>

                    <div class="create-collection-input logo-image">
                        <div class="logo-c-image logo">
                            <img id="rbtinput1" src="../assets/images/profile/profile-01.jpg" alt="Profile-NFT">
                            <label for="fatima" title="No File Choosen">
                                <span class="text-center color-white"><i class="feather-edit"></i></span>
                            </label>
                        </div>
                        <div class="button-area">
                            <div class="brows-file-wrapper">
                                <!-- actual upload which is hidden -->
                                <input name="fatima" id="fatima" type="file">
                                <!-- our custom upload button -->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="collection-single-wized banner">
                    <label class="title">Cover Image</label>
                    <div class="create-collection-input feature-image">
                        <div class="logo-c-image feature">
                            <img id="rbtinput2" src="assets/images/profile/cover-04.png" alt="Profile-NFT">
                            <label for="nipa" title="No File Choosen">
                                <span class="text-center color-white"><i class="feather-edit"></i></span>
                            </label>
                        </div>
                        <div class="button-area">
                            <div class="brows-file-wrapper">
                                <!-- actual upload which is hidden -->
                                <input name="nipa" id="nipa" type="file">
                                <!-- our custom upload button -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="collection-single-wized banner">
                    <label class="title">Featured image</label>
                    <div class="create-collection-input feature-image">
                        <div class="logo-c-image feature">
                            <img id="createfileImage" src="assets/images/profile/cover-03.jpg" alt="Profile-NFT">
                            <label for="createinputfile" title="No File Choosen">
                                <span class="text-center color-white"><i class="feather-edit"></i></span>
                            </label>
                        </div>
                        <div class="button-area">
                            <div class="brows-file-wrapper">
                                <!-- actual upload which is hidden -->
                                <input name="createinputfile" id="createinputfile" type="file">
                                <!-- our custom upload button -->
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-7">
                <div class="create-collection-form-wrapper">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="collection-single-wized">
                                <label for="name" class="title required">Name</label>
                                <div class="create-collection-input">
                                    <input id="name" class="name" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="collection-single-wized">
                                <label for="url" class="title">URL</label>
                                <div class="create-collection-input">
                                    <input id="url" class="url" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label class="title">Category</label>
                                <div class="create-collection-input">
                                    <div class="nice-select mb--30" tabindex="0">
                                        <span class="current">Add Category</span>
                                        <ul class="list">
                                            <li data-value="Art" data-display="Art" class="option selected focus">Art</li>
                                            <li data-value="1" class="option">Collectibles</li>
                                            <li data-value="2" class="option">Music</li>
                                            <li data-value="4" class="option">Sports</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="collection-single-wized">
                                <label for="description" class="title">Description</label>
                                <div class="create-collection-input">
                                    <textarea id="description" class="text-area"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="collection-single-wized">
                                <label for="earning" class="title">Creator Earnings</label>
                                <div class="create-collection-input">
                                    <input id="earning" class="url" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="collection-single-wized">
                                <label for="wallet" class="title">Your payout wallet address</label>
                                <div class="create-collection-input">
                                    <input id="wallet" class="url" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="nuron-information mb--30">
                                <div class="single-notice-setting">
                                    <div class="input">
                                        <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input">
                                        <label for="themeSwitch" class="theme-switch__label">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="content-text">
                                        <p>Explicit & sensitive content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="button-wrapper">
                                <!-- <a href="#" class="btn btn-primary btn-large mr--30" data-bs-toggle="modal" data-bs-target="#collectionModal">Preview</a> -->
                                <a href="#" class="btn btn-primary-alta btn-large">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create Collection -->

  <!-- Modal require -->
  <%- include('sections/popup-modal.ejs') -%>



  <%- include('sections/footer.ejs') -%>

  <!-- Start Top To Bottom Area  -->
  <div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- End Top To Bottom Area  -->
  <!-- JS ============================================ -->
  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
  <script src="assets/js/vendor/jquery-ui.js"></script>
  <script src="assets/js/vendor/modernizer.min.js"></script>
  <script src="assets/js/vendor/feather.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/sal.min.js"></script>
  <script src="assets/js/vendor/waypoint.js"></script>
  <script src="assets/js/vendor/wow.js"></script>
  <script src="assets/js/vendor/particles.js"></script>
  <script src="assets/js/vendor/jquery.style.swicher.js"></script>
  <script src="assets/js/vendor/js.cookie.js"></script>
  <script src="assets/js/vendor/count-down.js"></script>
  <script src="assets/js/vendor/counter-up.js"></script>
  <script src="assets/js/vendor/isotop.js"></script>
  <script src="assets/js/vendor/imageloaded.js"></script>
  <script src="assets/js/vendor/backtoTop.js"></script>
  <script src="assets/js/vendor/scrolltrigger.js"></script>
  <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
  <script src="assets/js/vendor/savePopup.js"></script>
  <!-- main JS -->
  <script src="assets/js/main.js"></script>

</body>

</html>