<%
nftLiked = function() {
    var checker = false;
    nft.likes.forEach(function(like){
    if (like == wallet) checker = true;
}); 
return checker;
}
%>
<%
    paginationNavigation = function(page) {
        for(var i = page - 5 ; i < page + 5 ; i++) { 
            if (i < 0) i = 0
            console.log(i) %>
<span class="pageSteps">23434345</span>
<%}
    }
%>
<% test = function() {
    console.log('run') %>
<div style="height:100px; background-color: red;">
  red
</div>
<%}%>