<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || Mint</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Cache-control" content="no-store">
  <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="template-color-1">
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>
  <%- include('sections/header.ejs') -%>

  <!-- start page title area -->
  <div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <h5 class="title text-center text-md-start">Mint an NFT</h5>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-list">
            <li class="item"><a href="/">Home</a></li>
            <li class="separator"><i class="feather-chevron-right"></i></li>
            <li class="item current">Mint an NFT</li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <h1 style="text-align: center; margin-top: 30px;">Coming Soon...</h1>

  <div class="col-lg-7 mintModal">
    <div class="form-wrapper-one mintModalContent">
      <form class="row" action="#" id="mintForm-01">
        <div class="col-md-12">
          <div class="input-box pb--20">
            <div class="upload-area">

              <div class="upload-formate mb--30">
                <h6 class="title">
                  Upload file
                </h6>
                <p class="formate">
                  Drag or choose your file to upload
                </p>
              </div>

              <div class="brows-file-wrapper">
                <!-- actual upload which is hidden -->
                <input name="createinputfile" id="createinputfile" type="file" class="inputfile" />
                <img id="createfileImage" src="" alt="" data-black-overlay="6">
                <!-- our custom upload button -->
                <label for="createinputfile" title="No File Choosen">
                  <i class="feather-upload"></i>
                  <span class="text-center">Choose a File</span>
                  <p class="text-center mt--10">PNG, GIF, WEBP, MP4 or MP3. <br> Max 100Mb.</p>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="input-box pb--20">
            <label for="name" class="form-label">NFT Name</label>
            <input id="name" placeholder="e. g. 'Wesley The Whale'">
          </div>
        </div>

        <div class="col-md-12">
          <div class="input-box pb--20">
            <label for="Description" class="form-label">Description</label>
            <textarea id="description" rows="3" placeholder="e. g. 'Worlds best NFT...'"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-box pb--20">
            <label for="collection-name" class="form-label">Collection Name</label>
            <input id="collection-name" placeholder="e. g. 'The Pod'">
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-box pb--20">
            <label for="externalUrl" class="form-label">External Url</label>
            <input id="externalUrl" placeholder="e.g. 'https://onchainwhales.net'">
          </div>
        </div>
        <div class="col-md-12">
          <div class="AssetFormTraitSection input-box">
            <div class="AFTS-content">
              <div class="AFTS-content-main">
                <span>Attributes</span>
              </div>
              <div class="AFTS-content-secondary">
                <div class="properties-content" id="propertiesContent">
                </div>
              </div>
              <a class="btn btn-secondary" id="attribs">+ attribute</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="advanced-mint input-box">
            <div>
              <button class="btn btn-warning mb--20" type="button" data-bs-toggle="collapse" data-bs-target="#advancedMintingOptions" aria-expanded="false" aria-controls="collapseExample">
                Advanced Options
              </button>
            </div>
            <div class="collapse " id="advancedMintingOptions">
              <div class="card card-body">
                <div class="pb--20">
                  <label for="taxon-value">Taxon:</label>
                  <input type="number" id="taxon-value" value="1" placeholder='e.g "3"'>
                </div>
                <div class="pb--20">
                  <label for="transfer-fee">Transfer Fee:</label>
                  <input type="number" id="transferFee" value="0" placeholder="0 - 50" min="0" max="50">
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="input-box pb--20 rn-check-box">
                    <input class="rn-check-box-input" type="checkbox" id="burnable">
                    <label class="rn-check-box-label" for="burnable">
                      Burnable
                    </label>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="input-box pb--20 rn-check-box">
                    <input class="rn-check-box-input" type="checkbox" id="transferable" checked>
                    <label class="rn-check-box-label" for="transferable">
                      Transferable
                    </label>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="input-box pb--20 rn-check-box">
                    <input class="rn-check-box-input" type="checkbox" id="only-xrp">
                    <label class="rn-check-box-label" for="only-xrp">
                      Only $XRP
                    </label>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="input-box pb--20 rn-check-box">
                    <input class="rn-check-box-input" type="checkbox" id="trustline">
                    <label class="rn-check-box-label" for="trustline">
                      Trustline
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-4">
          <div class="input-box">
            <!-- make an are you sure modal popup on click of mint button -->
            <a class="btn btn-primary btn-large w-100" id="startMint" onclick="submitMintingInformation()">MINT</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- create new product area -->

  <%- include('sections/footer.ejs') -%>
  <!-- Start Top To Bottom Area  -->
  <div class="rn-progress-parent">
    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <!-- End Top To Bottom Area  -->
  <!-- JS ============================================ -->
  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
  <script src="assets/js/vendor/jquery-ui.js"></script>
  <script src="assets/js/vendor/modernizer.min.js"></script>
  <script src="assets/js/vendor/feather.min.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/bootstrap.min.js"></script>
  <script src="assets/js/vendor/sal.min.js"></script>
  <script src="assets/js/vendor/waypoint.js"></script>
  <script src="assets/js/vendor/wow.js"></script>
  <script src="assets/js/vendor/particles.js"></script>
  <script src="assets/js/vendor/jquery.style.swicher.js"></script>
  <script src="assets/js/vendor/js.cookie.js"></script>
  <script src="assets/js/vendor/count-down.js"></script>
  <script src="assets/js/vendor/counter-up.js"></script>
  <script src="assets/js/vendor/isotop.js"></script>
  <script src="assets/js/vendor/imageloaded.js"></script>
  <script src="assets/js/vendor/backtoTop.js"></script>
  <script src="assets/js/vendor/scrolltrigger.js"></script>
  <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
  <script src="assets/js/vendor/savePopup.js"></script>
  <!-- main JS -->
  <script src="assets/js/main.js"></script>
  <!-- comment for empty commit -->
  <script>
    var i = 0;
    $('#attribs').click(function() {
      $(`<div class="properties-content-main" id="atts">
                    <span class="attribute-item-bubble">
                      <label for="attributeName">Title</label>
                      <input type="text" id="attributeName" class="attribute-name">
                    </span>
                    <span class="attribute-item-bubble">
                      <label for="attributeValue">Value</label>
                      <input type="text" id="attributeValue" class="attribute-value">
                    </span>
                    <a class="close-btn attributeRemove" onclick="attributeRemove(this)"><i class="icon i-close"></i></a>
                </div>`).appendTo('#propertiesContent');
      i++;
    });

    function attributeRemove(element) {
      $(element).closest('div').remove()
    }


    const loggedIn = <%- JSON.stringify(wallet) %>

    function submitMintingInformation() {
      const time = new Date().getTime();
      var attributesObj = [];
      for (var a = 0; a < $('#propertiesContent .properties-content-main').length; a++) {
        attributesObj[a] = {
          "trait_type": $(`.attribute-name:eq(${a})`).val(),
          "value": $(`.attribute-value:eq(${a})`).val()
        }
      };


      const jsonData = {
        name: document.getElementById("name").value,
        description: document.getElementById("description").value,
        collection: {
          name: document.getElementById("collection-name").value,
        },
        externalUrl: document.getElementById("externalUrl").value,
        attributes: attributesObj,
      };
      const formData = new FormData();
      const returnUrl = window.location.href;
      formData.append("jsonData", JSON.stringify(jsonData))
      formData.append("taxon", $('#taxon-value').val());
      formData.append("transferFee", $('#transferFee').val());
      formData.append("image", document.getElementById('createinputfile').files[0]);
      formData.append("burnable", document.getElementById("burnable").checked);
      formData.append("transferable", document.getElementById("transferable").checked);
      formData.append("onlyXRP", document.getElementById("only-xrp").checked);
      formData.append("trustline", document.getElementById("trustline").checked);
      var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
      if (allowedExtensions.exec(document.getElementById('createinputfile').files[0].name)) {
        $.ajax({
        type: "POST",
        url: "/mint-no-IPFS-payload",
        data: {
          return_url: returnUrl,
        },

        success: function (result) {
          console.log(result.payload.next.always)
          formData.append("payload", JSON.stringify(result.payload));
          $.ajax({
            type: "POST",
            url: "/mint-no-IPFS-subscription",
            processData: false,
            contentType: false,
            enctype: "multipart/form-data",
            data: formData,
            success: function (result) {
              console.log(result.payload.next.always)
            },
          })
        },
        error: function(resulty) {
          customAlert.alert('Error minting NFT')
        },
      });
      } else {
        customAlert.alert('inncorect file type')
      }
    }
  </script>
</body>

</html>