<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OCM || Redeem</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="theme-style-mode"> <!-- 0 == light, 1 == dark -->

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/20354ba2e0.js" crossorigin="anonymous"></script>
  <!-- CSS 
    ============================================ -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/vendor/slick.css">
  <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
  <link rel="stylesheet" href="assets/css/vendor/nice-select.css">
  <link rel="stylesheet" href="assets/css/plugins/feature.css">
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css">

  <!-- Style css -->
  <link rel="stylesheet" href="assets/css/style.css">
</head>


<body class="template-color-1">

  <!-- start header area -->
  <!-- Preloader -->
  <div class="preloader">
    <div class='loader'>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
      <div class='circle'></div>
    </div>
  </div>

  <!--Require header-->
  <%- include('sections/header.ejs') -%>

  <div class="redeem">
    <div class="redeemContainer">
      <div class="box">
        <div class="boxContent">
          <h1>Swap</h1>
          <p>Swap your IOU token for an NFToken</p>
          <img draggable="false" src="assets/images/activity/qmark600.png" id="yourNFT">
          <div class="redeemDropDown">
            <span>
              <select name="redeem-menu" id="redeem-menu" onchange="setLoaderBalance();(getCurrencyBalance(this.value))">
                <option value=false selected disabled>Select Project</option>
                <option value=' {"ip":"OCW","issuer": "rK9DrarGKnVEo2nYp5MfVRXRYf5yRX3mwD", "hex": "OCW", "token": "OCW"}'>OnChain Whales</option>
                <option value=' {"ip":"143.198.200.122","issuer": "rfVTbKsRgyurPddRiWaReuiK9Tvms8XGj1" , "hex" : "58424C4144450000000000000000000000000000", "token": "XBLADE"}'>XBLADE</option>
              </select>
            </span>
            <span id="currency-balance">

            </span>
          </div>
          <%if (login) {%><button class="btn2" id="redeem" onclick="getRedeem(this, this.nextElementSibling, document.getElementById('redeem-menu').value);">SWAP</button> <%} else {%> <button class="btn2" id="redeem" disabled><span>SWAP</span></button><%}%>
          <!-- bellow div will give you a spinning loader anywhere on the website -->
          <div class="loader hidden"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer require -->
  <%- include('sections/footer.ejs') -%>

          <!-- Start Top To Bottom Area  -->
          <div class="rn-progress-parent">
            <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
          </div>
          <!-- End Top To Bottom Area  -->
          <!-- JS ============================================ -->
          <script src="assets/js/vendor/jquery.js"></script>
          <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
          <script src="assets/js/vendor/jquery-ui.js"></script>
          <script src="assets/js/vendor/modernizer.min.js"></script>
          <script src="assets/js/vendor/feather.min.js"></script>
          <script src="assets/js/vendor/slick.min.js"></script>
          <script src="assets/js/vendor/bootstrap.min.js"></script>
          <script src="assets/js/vendor/sal.min.js"></script>
          <script src="assets/js/vendor/waypoint.js"></script>
          <script src="assets/js/vendor/wow.js"></script>
          <script src="assets/js/vendor/particles.js"></script>
          <script src="assets/js/vendor/jquery.style.swicher.js"></script>
          <script src="assets/js/vendor/js.cookie.js"></script>
          <script src="assets/js/vendor/count-down.js"></script>
          <script src="assets/js/vendor/counter-up.js"></script>
          <script src="assets/js/vendor/isotop.js"></script>
          <script src="assets/js/vendor/imageloaded.js"></script>
          <script src="assets/js/vendor/backtoTop.js"></script>
          <script src="assets/js/vendor/scrolltrigger.js"></script>
          <script src="assets/js/vendor/jquery.custom-file-input.js"></script>
          <script src="assets/js/vendor/savePopup.js"></script>
          <!-- main JS -->
          <script src="assets/js/main.js"></script>
          <script>
            function setLoaderBalance() {
              $("#currency-balance").html("<div class='loader-data'></div>");
            }

            function getCurrencyBalance(data) {
              try {

                data = JSON.parse(data);
                $("#currency-balance").load(`<%=url%>get-token-balance?issuer=${data.issuer}&hex=${data.hex}&token=${data.token}`);
              } catch (err) {
                console.error("Couldn't parse balance");
              }
            }
          </script>
</body>

</html>