    <!-- Start Header -->
    <header class="rn-header haeder-default black-logo-version header--fixed header--sticky">
      <%if (csrfToken){%>
      <meta name="csrf-token" content="<%=csrfToken%>">
      <%}%>
      <div class="container">
        <div class="header-inner">
          <div class="header-left">
            <div class="logo-thumbnail logo-custom-css">
              <a class="logo-light" href="/"><img src="assets/images/logo/logo-white.png" alt="OCM-logo"></a>
              <a class="logo-dark" href="/"><img src="assets/images/logo/logo-blue.png" alt="OCM-logo"></a>
            </div>
            <div class="mainmenu-wrapper">
              <nav id="sideNav" class="mainmenu-nav d-none d-xl-block">
                <!-- Start Mainmanu Nav -->
                <ul class="mainmenu">
                  <li><a class="its_new" href="/">Home</a></li>
                  </li>
                  </li>
                  <li class="has-droupdown has-menu-child">
                    <a class="its_new" href="explore?page=0">Explore</a>
                    <ul class="submenu">
                      <li><a href="explore">NFTokens <span class="icon i-gallery"></span></a></li>
                      <li><a href="collections">Collections <span class="icon i-box"></span></a></li>
                      <li><a href="<%login ? __append("redeem") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to Redeem')\"")%>>Redeem <span class="icon i-redeem"></span></a></li>
      <!-- <li><a href="create-listing">Mint NFToken <span class="icon i-mint"></span></a></li> -->
      <li><a href="mint">Mint <span class="icon"></span></a></li>
      </ul>
      </li>
      <li class="has-droupdown has-menu-child">
        <a href="<%login ? __append("profile") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to View Profile')\"")%>>Account</a>
        <ul class="submenu">
          <li><a href="<%login ? __append("profile") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to View Profile')\"")%>>Account <span class="icon i-account"></span></a></li>
          <li><a href="<%login ? __append("edit-profile") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to Update Profile')\"")%>>Update Profile <span class="icon i-edit"></span></a></li>
        </ul>
      </li>
      <li class="has-droupdown has-menu-child">
        <a href="about" class="its_new">About</a>
        <ul class="submenu">
          <li><a href="about">About</a></li>
          <li><a href="partners">Our Partners <span class="icon i-shake"></span></a></li>
          <li><a href="metadata">Metadata</a></li>
          <li><a href="minting-help">>Desktop Minting Help</a></li>
          <li><a href="devnet">How To Devnet XUMM</a></li>
        </ul>
      </li>
      <!-- End Mainmanu Nav -->
      </nav>
      </div>
      </div>
      <div class="header-right">
        <div class="setting-option d-none d-lg-block">
          <form class="search-form-wrapper" action="/search" method="get">
            <input type="search" placeholder="Search Here" name="q" aria-label="Search" autocomplete="off">
            <div class="search-icon">
              <button type="submit"><i class="feather-search"></i></button>
            </div>
          </form>
        </div>
        <div class="setting-option rn-icon-list d-block d-lg-none">
          <div class="icon-box search-mobile-icon">
            <button><i class="feather-search"></i></button>
          </div>
          <form id="header-search-1" action="/search" method="GET" class="large-mobile-blog-search">
            <div class="rn-search-mobile form-group">
              <button type="submit" class="search-button"><i class="feather-search"></i></button>
              <input type="text" name="q" placeholder="Search ...">
            </div>
          </form>
        </div>

        <div class="setting-option header-btn rbt-site-header" id="rbt-site-header">
          <% if (!login) { %>
          <a id="xummSignin" onclick="xummSignin()" class="btn btn-primary-alta btn-small">Wallet connect</a>
          <% } else { %>
          <a href="/logout" id="logout" class="btn btn-primary-alta btn-small">Log out</a>
          <% } %>
        </div>

        <div class="setting-option mobile-menu-bar d-block d-xl-none">
          <div class="hamberger">
            <button class="hamberger-button">
              <i class="feather-menu"></i>
            </button>
          </div>
        </div>

        <div id="my_switcher" class="my_switcher setting-option">
          <ul>
            <li>
              <a href="javascript: void(0);" data-theme="light" class="setColor light">
                <img class="sun-image" src="assets/images/icons/sun-01.svg" alt="light mode">
              </a>
            </li>
            <li>
              <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                <img class="Victor Image" src="assets/images/icons/vector.svg" alt="dark mode">
              </a>
            </li>
          </ul>
        </div>


      </div>
      </div>
      </div>
      <div class="popup-mobile-menu">
        <div class="inner">
          <div class="header-top">
            <div class="logo logo-custom-css">
              <a class="logo-light" href="/"><img src="assets/images/logo/logo-white.png" alt="OCM-logo"></a>
              <a class="logo-dark" href="/"><img src="assets/images/logo/logo-blue.png" alt="OCM-logo"></a>
            </div>
            <div class="close-menu">
              <button class="close-button">
                <i class="feather-x"></i>
              </button>
            </div>
          </div>
          <nav>
            <!-- Start Mainmanu Nav -->
            <ul class="mainmenu">
              <li>
                <a class="nav-link its_new" href="/">Home</a>
              </li>
              </li>
              <li class="has-droupdown has-menu-child">
                <a class="its_new" href="explore">Explore</a>
                <ul class="submenu">
                  <li><a href="explore">NFTokens <span class="icon i-gallery"></span></a></li>
                  <li><a href="collections">Collections <span class="icon i-box"></span></a></li>
                  <li><a href="<%login ? __append("redeem") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to Redeem')\"")%>>Redeem <span class="icon i-redeem"></span></a></li>
                  <!-- <li><a href="create-listing">Mint NFToken <span class="icon i-mint"></span></a></li> -->
                  <li><a href="mint">Mint <span class="icon"></span></a></li>
                </ul>
              </li>
              <li class="has-droupdown has-menu-child">
                <a href="<%login ? __append("profile") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to View Profile')\"")%>>Account</a>
                <ul class="submenu">
                  <li><a href="profile">Your Profile <span class="icon i-account"></span></a></li>
                  <li><a href="<%login ? __append("edit-profile") : __append('#')%>" <%if (!login) __append("onclick=\"customAlert.alert('Connect Wallet to Update Profile')\"")%>>Update Profile <span class="icon i-edit"></span></a></li>
                </ul>
              </li>
              <li class="has-droupdown has-menu-child">
                <a href="about" class="its_new">About</a>
                <ul class="submenu">
                  <li><a href="about">About</a></li>
                  <li><a href="partners">Our Partners <span class="icon i-shake"></span></a></li>
                  <li><a href="metadata">Metadata</a></li>
                  <li><a href="minting-help">Desktop Minting Help</a></li>
                  <li><a href="devnet">How To Devnet XUMM</a></li>
                </ul>
              </li>
            </ul>
            <!-- End Mainmanu Nav -->
          </nav>
        </div>
      </div>
    </header>
    <!-- End Header Area -->
    <%- include ('../models/qr-code-modal.ejs')%>