  <div class="collection-grid " id="exploreSection">
    <!-- Product -->
    <% collections.forEach(function(res){%>
    <%- include('collections-card.ejs', {collection:res, sampleImages: res.sampleImages})%>
    <%}); %>
  </div>