<div class="cookie-bar hidden" id="cookieBar">
    <div class="cookie-wrapper">
        <p>
            This website uses cookies and similar technologies. By continuing to use this site, you are agreeing to cookies.
        </p>
        <button id="cookiesApprv" class="btn-cookie">Agree</button>
    </div>
</div>