<div class="modalLI">
  <div class="listItem" id="listItem">
    <div class=" contentWrap">
      <div class="modalHead">
        <h2>List Item</h2>
        <button type="button" onclick="closeModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-bottom: 20px;"></button>
      </div>
      <div class="NFTDeets">
        <div class="NFImage">
          <img draggable="false" src="assets/images/activity/qmark600.png" id="yourNFT">
        </div>
        <div class="LIInner">
          <div class="autofills">
            <label for="tokenID">Token ID:&nbsp;</label>
            <input type="text" id="tokenID" readonly>
            <label for="issuer">Issuer:&nbsp;</label>
            <input type="text" id="issuer" readonly>
            <label for="taxon">TAXON:&nbsp;</label>
            <input type="text" id="taxon" readonly>
            <label for="currentHolder">Current Holder:&nbsp;</label>
            <input type="text" id="currentHolder" readonly>
          </div>
          <div class="monies">
            <p class="finePrint">*Should take 5 minutes, but please allow up to 3 hours for the nft to be listed</p>
          </div>
        </div>
      </div>
      <div class="listButtons">
        <img class="qmark" onmouseover="peekaboo()" onmouseleave="peekaboo()" src="assets/images/icons/question-circle-solid.svg" alt="information hover">
        <button class="listButton" onclick="getListNft(0.5)">Temporary Listing</button>
        <button class="listButton" onclick="getListNft(1)">Permanent Listing</button>
      </div>
      <div class="aboutListing" id="aboutListing">
        <p class="finePrint"><strong>Permanent</strong>: 2 XRP fee. This item will live permanently in our database. <br>
          <strong>Temporary</strong>: 1 XRP fee. This item will be removed from our database upon sale or offer cancel.
        </p>
      </div>
    </div>
  </div>
  <script>
    function peekaboo() {
      var box = document.getElementById("aboutListing")
      box.toggleAttribute("ghost");
    }


    function closeModal() {
      var box = document.getElementById("listItem");
      //   var overlay = document.querySelectorAll("modal-backdrop")
      $('#listItem').hide("fast", "linear");
    }

    function populateListNft(data) {
      $('#tokenID').val(data.NFTokenID);
      $('#issuer').val(data.issuer);
      $('#taxon').val(data.taxon);
      $('#currentHolder').val(data.currentHolder);
      $('#yourNFT').attr("src", data.image);
      $('#listItem').show("fast", "linear");
    }
    $
  </script>
</div>