<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border-radius: 16px;">
      <div class="list-modal-wrap">
        <div id="listImage" class="list-img">
          <img src="" alt="">
        </div>
        <div class="listing-info">
          <h4 id="assetName"></h4>
          <div style="min-width:315px;max-width: 315px;">
            <div class="accordion">
              <div class="card">
                    <button class="btn btn-secondary collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      NFT Info
                    </button>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                  <div class="card-body">
                    <label for="tokenID">Token ID</label>
                    <input type="text" id="tokenID" disabled>
                    <label for="issuer">Issuer</label>
                    <input type="text" id="issuer" disabled>
                    <label for="surrentHolder" hidden>Current Holder</label>
                    <input type="text" id="currentHolder" disabled hidden>
                    <label for="taxon">Taxon</label>
                    <input type="text" id="taxon" disabled>
                    <a id="link" target="_blank">View on Bithomp</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="border: none;">
          <button class="special-list-btn" onclick="getListNft(this)">
            <i class="icon i-paper-plane"></i>
            <span class="button-text">list</span>
            <span style="margin: 0;" class="button-loader"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>