<div class="offer-sliver">
    <div class="offerContainer">
        <div class="offerContent">
            <div class="Oleft">
                <h5 class="offerType buy">BUY</h5>
                <a href="https://xls20.bithomp.com/explorer/00080000A7071F269B274C18E5F8C78C1F515818B8C6D7790000099B00000000" id="NFTID">00080000A7071F269B274C18E5F8C78C1F515818B8C6D7790000099B00000000</a>
                <span>Offer: <span id="offerAmount">2 <span id="offerToken">DOGE</span></span></span>
                <span>Offer Value: <span id="offerVal">200 <span>XRP</span></span></span>
            </div>
            <div class="Oright">
                <span class="expired false">Expired</span>
                <a href="#" id="offerCancel" class="offerCancel">Cancel Offer</a>
            </div>
        </div>
        <a class="offerLink" href="#"></a>
    </div>
</div>