<%url = new URLSearchParams(queries)%>
<nav class="pagination-wrapper" aria-label="Page navigation example">
    <ul class="pagination">
      <%for(var i = page - 5 ; i < page + 5 ; i++) {if (i < 0) i = 0; if (page == i) {%> <li class="page-item"><a class="page-link active"><%=i%></a></li><%} else {%>
    <%url.set("page", i)%>
      <li class="page-item"><a class="page-link" href="<%=path +"?"+ url.toString()%>"><%=i%></a></li>
      <%}}%>
    </ul>
</nav>