<div class="rn-popup-modal placebid-modal-wrapper modal fade" id="qrModal" tabindex="-1" aria-hidden="true">
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="qrTitle">Scan QR Code</h3>
      </div>
      <div class="modal-body">
        <div class="placebid-form-box">
          <div class="bid-content-qr">
            <img src="" alt="" id="qrCodeImage">
          </div>
          <div class="bit-continue-button">
            <a href="" id="xummLink"><button type="button" class="btn btn-primary mr--10 w-auto">Open in XUMM</button></a>
            <button type="button" class="btn btn-primary-alta mt--10" data-bs-dismiss="modal" >Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>