<script>
  var currNft;

  function setCurrNft(element) {
    currNft = element.nextElementSibling.value;
  }
</script>

<div class="row g-5" id="exploreSectionUnlisted">
  <!-- Product -->
  <% nfts.forEach(function(res){%>
  <%var i = 0%>
  <%- include('unlisted-nft-card.ejs', {nft:res, rawData:rawData[i], wallet:wallet})%>
  <%i++%>
  <%}); %>
</div>
<%- include("list.ejs")%>