<script>
  var currNft;

  function setCurrNft(element) {
    currNft = element.nextElementSibling.value;
  }
</script>

<div class="row g-5" id="exploreSectionUnlisted">
  <% nfts.forEach(function(res){%>
  <%- include('unlisted-nft-card.ejs', {nft:res, rawData:rawData, wallet:wallet})%>
  <%}); %>
</div>
<%- include("list.ejs")%>